body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
#openModalBtn {
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}
.close-btn:hover {
    color: red;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
   
    padding: 5px;
    background-color: #ffc107;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"] {
   
    padding: 5px;
    background-color: #ffc107;
    color: white;
    
    border-radius: 4px;
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
     
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 500px !important;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   
}


/* Tambahkan animasi saat modal muncul */
.modal.show {
    display: block;
    animation: fadeIn 0.5s, slideIn 0.5s;
}

/* Tambahkan animasi saat modal menghilang */
.modal.hide {
    animation: fadeOut 0.5s;
}
